#messagesVBox {
    -fx-padding: 5px 10px 5px 10px;
    -fx-background-color: #262626;
}

.chat:hover {
    -fx-background-color: #363636;
}
.chat-header *.label {
    -fx-font-weight: bold;
    -fx-text-fill: #c7c7c7;
}
.chat-body {
    -fx-text-fill: #c7c7c7;
}

.separator *.line {
    -fx-border-color: #363636;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
.separator *.region {
    -fx-background-color: #262626;
}